/* src/assets/fonts/CustomFont-Bold.ttf */
@font-face {
    font-family: 'Vazir';
    src: url('../fonts/Vazir-Medium-FD-WOL.ttf') format('truetype');
    src: url('../fonts/Vazir-Medium-FD-WOL.woff') format('woff');
    src: url('../fonts/Vazir-Medium-FD-WOL.woff2') format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'Vazir-bold';
    src: url('../fonts/Vazir-Bold.ttf') format('truetype');
    src: url('../fonts/Vazir-Bold.woff') format('woff');
    src: url('../fonts/Vazir-Bold.woff2') format('woff2');
    font-style: "bold";
}
  
body {
    font-family: 'Vazir', sans-serif;
    direction: rtl;
}

.container {
    max-width: 1200px;
    margin: auto;
}

p {
    line-height: 1.8;
    text-align: justify;
    margin-bottom: 4px;
}

h2, h3, h4 {
    margin-bottom: 8px;
    font-family: 'Vazir-bold';
}

hr {
    border-color: #272A31;
}

@media only screen and (max-width: 600px) {
    .alice-carousel__prev-btn-wrapper , .alice-carousel__next-btn-wrapper {
        display: none;
    }
    .container {
        width: 97%;
    }
    .body {
        overflow-x: auto ;
    }
}
.alice-carousel__prev-btn-wrapper {
    float: left;
}
  
.alice-carousel__prev-btn-item {
    background: #272a31;
    width: 39px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: absolute;
    top: 34%;
    left: -50px;
    padding-top: 8px;
}

.alice-carousel__next-btn-wrapper {
    float: right;
}

.alice-carousel__next-btn-item {
    background: #272a31;
    width: 39px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: absolute;
    top: 34%;
    right: -50px;
    padding-top: 8px;
}